<!-- Inicio Main  -->
<div id="entrenosrunner" class="container">
  <!-- He eliminado el cache porque no actualizaba la página, algo estaba mal-->
  <%= render @trainings %>
</div>
<!-- Fin Main -->

