// Place all the styles related to the Runners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colorTexto: #fff;

.short {
	background-color: green;
  color:$colorTexto;
}

.medium {
  background-color: yellow;
  color:$colorTexto;
}

.long {
	background-color: red;
  color:$colorTexto;
}

/* Runners -> Show */

#contentrunner{
  clear:both;
  width:80%;
  margin:0 auto;
  font-size:14px;
  .avatar, #datosrunner, #sesiones{
    display: inline-block;
    vertical-align: top;
    text-align:left;
    margin-left:3%;
  }
  .avatar{
    max-width:32%;
    img{
      height:100%;
      width:100%;
    }
  }
  #datosrunner{
    width:28%;
    padding:1% 1%;
    p{
      margin-bottom:0.8%;
    }
  }
  #sesiones{
    width:30%;
    #realizadas{
      padding:1% 1%;
      width:100%;
      float:left;
      ul li{
        font-size:14px;
        margin-bottom:0.8%;
      }
    }
  }
}

/* Runners -> Index */

#listarunners{
  width: 90%;
  margin:0 auto;
  a{
    color:$colorTexto;
  }
  header{
    width:60%;
    text-align:center;
    margin:1% auto;
    h3{
      font-size:18px;
    }
    a{
      text-decoration:none;
    }
  }  
  table{
    width:80%;
    margin:0 auto;
    thead tr th{
      width:15%;
      &:last-of-type, &:first-of-type{
        width:32%;
      }
    }
    tbody tr td{
      color:$colorTexto;
      margin-top:1%;
      width:15%;
      text-align:center;
      &:last-of-type, &:first-of-type{
        width:32%;
      }
      a{
        font-size:16px;
        text-decoration:none;
      }
    }
  }
}

/* Runners -> New */

#aviso{
  clear:both;
  text-align:center;
  h2{
    font-size:18px;
  }
}

form.new_runner{
  .field{
    float:left;
    clear:both;
    width:32%;
    &.medio{
      width:49%;
    }
  }
}




