// Place all the styles related to the Runners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colorTexto: #fff;

.short {
	background-color: green;
  color:$colorTexto;
}

.medium {
  background-color: yellow;
  color:$colorTexto;
}

.long {
	background-color: red;
  color:$colorTexto;
}

/* Runners -> Show */

#contentrunner{
  clear:both;
  background:yellow;
  width:90%;
  margin:0 auto;
  .avatar{
    border:1px dotted blue;
    width:31%;
    float:left;
    img{
      float:left;
      height:100%;
      width:100%;
    }
  }
  #datosrunner{
    background:blue;
    float:left;
    margin-left:1%;
    width:30%;
    height:30%;
    border:1px dashed red;
    padding:1% 3%;
  }
  #sesiones{
    float:left;
    width:30%;
    background:red;
    margin-left:1%;
    #realizadas{
      width:90%;
      margin-left:5%;
      float:left;
      table tbody{
        tr td{
          width:14%;
          text-align:center;
        }
      }
    }
  }
}

/* Runners -> Index */

#listarunners{
  width: 90%;
  margin:0 auto;
  a{
    color:$colorTexto;
  }
  header{
    width:60%;
    text-align:center;
    margin:1% auto;
    h3{
      font-size:18px;
    }
  }  
  table{
    thead{
      font-size:14px;
    }
    tbody tr td{
      width:15%;
      text-align:center;
      a{
        font-size:16px;
        text-decoration:none;
      }
    }
  }
}

/* Runners -> New */

#aviso{
  clear:both;
  text-align:center;
  h2{
    font-size:18px;
  }
}

form.new_runner{
  background-color:#333456;
  .field{
    float:left;
    clear:both;
    width:32%;
    background-color:#555443;
    &.medio{
      background-color:#443322;
      width:49%;
    }
  }
}




