// Place all the styles related to the Trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colorEnlace: #aaa;

.enlace {
  color: $colorEnlace;
  font-size: 14px;
}

#main{
  float:left;
  width:100%;
  //background-color:yellow;
}



.vercomentarios{
  background-color:#fff;
}


#nuevorunner{
  float:left;
  width:50%;
}

/* Trainings -> Index*/

#entrenosrunner{
  width:90%;
  float:left;
  margin-left:5%;
  background-color:#990;
  header{
    background-color:#357;
    width:100%;
    margin-bottom:1%;
    padding:1% 0;
    height:20px;
    text-align:center;
    h3{
      font-size:18px;
      color:white;
    }
  }
  .training{
    float:left;       /* y si probamos a remover los float como en el CSS Cross Country?*/
    margin-bottom:2%;
    color:#fff;
    width:25%;
    background-color:#0aa;
    .arriba{
      width:100%;
      .date{
        width:38%;
        float:left;
        font-size:14px;
        text-align:center;
        background-color:#333;
      }
      .acciones{
        width:62%;
        float:right;
        font-size:13px;
        background-color:#444;
        ul{
          text-decoration:none;
          li{
            a{
              text-align:center;
              font-size:13px;
            }
          }
        }
      }
    }
    .centro{
        width:100%;
        .kms{
          width:50%;
          float:left;
          background-color:#567;
          font-size:26px;
          text-align:center;
          padding:4% 0;
          span{
            font-size:14px;
          }
        }
        .time{
          width:50%;
          float:left;
          background-color:#888;
          font-size:16px;
          padding:4% 0;
          text-align:center;
        }
    }
    .zapatillas{
      width:100%;
      float:left;
      background-color:#087;
      text-align:center;
      a{
        text-decoration:none;
        font-size:15px;
        width:98%;
      }
    }
    .abajo{
      float:left;
      width:100%;
      background-color:#222;
      .comments{
        display:none;
      }
    }
  }
}

#nuevoentreno{
    width:90%;
    background:#cce;
    margin:0 auto;
    .field{
      width:25%;
      float:left;
    }
}

.nuevo{
  float:left;
  width:10%;
  margin-left:7%;
}