// Place all the styles related to the Trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colorEnlace: #ccc;

.enlace {
  color: $colorEnlace;
  font-size: 14px;
}

#content{
   float:left;
   margin:0 auto;
   width:75%;
   background-color:yellow;
}

.training{
  float:left;       /* y si probamos a remover los float como en el CSS Cross Country?*/
  width:32%;
  color:#234;
  background-color:#456;
  border: 1px dashed black;
  margin-left:1%;
  margin-bottom:5px;
  height:210px;

  h4{
    float:left;
    width:48%;
    background-color:red;
  }
  a{
    float:left;
    width:46%;
    color:$colorEnlace;
  }
  p{
    float:left;
    width:45%;
    background-color:green;
  }
}

.comments{
  margin-top:3px;
}

#nuevorunner{
  float:left;
  width:50%;
}
