<!-- Zapatilla 
      <%= div_for shoe do %>-->

      <tr>
        
        <td><%= link_to shoe.nombre, [@runner, shoe] %></td>
        <td><%= sprintf("%0.02f", shoe.totalkms) %></td>
        
        <% if shoe.runner == current_runner %>
	      <td class="acciones">
	        <%= link_to '¿Eliminar?', [@runner, shoe], method: :delete, remote: true, data: { confirm: '¿Seguro?' }%> 
	      </td>
	    <% end %>

	  </tr>

      <!--<% end %>
 Fin Zapatilla-->