<section id="listashoes" class="container">

<% if @shoes.empty? %>
  <header id="noshoes" class="container">
    <h2>No shoes Available!</h2>
  </header>

<% else %>

<header class="container">
    <h3>Nuestras mejores armas, ¡devoran kilómetros!</h3>
</header>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Runner</th>
      <th>Totalkms</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= link_to shoe.nombre, [shoe.runner,shoe] %></td>
        <td><%= link_to shoe.runner.name.titleize, shoe.runner %></td>
        <td><%= sprintf("%0.02f", shoe.totalkms) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

</section>

